.calc{
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgb(143, 100, 47);
    /*background:url("image4.jpg");*/
}


#calculator{

    font-family: 'Courier New', Courier, monospace  ;
    background-color: black;
    
    border: 5px solid transparent;
    border-radius: 20px;
    /*box-shadow: 4px 2px 0 rgb(113, 83, 255);*/
    max-width: 225px;
    overflow: hidden;
    font-size: 2rem;
}

#display{
    width: 100%;
    font-size: 3rem;
    
    text-align: right;
    border: none;
    color: rgb(237, 231, 231);
    background-color: rgb(50, 50, 50);
    
    padding-top: 5px;
    padding-bottom: 5px;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5px;
    padding: 10px;
    border: black;
}

button{
    
    height:40px;
    width: 40px;
    border: 2px;
    border-radius: 40%;
    background-color: rgb(113, 83, 255);
    color: white;
    justify-content: center;
    font-weight: bold;
    align-items: center;
    cursor: pointer;
}


button:hover{
    background-color: red;
}

button:active{
    background-color: brown;
}

 